@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243, 243, 243);
  /* background-image: url('/background.jpg'); */
  color: rgb(0, 0, 0);
  /* font-family: monospace */
}

input {
  background-color: #fff; /* White background color */
}

select {
  background-color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  margin-left: 5px; /* Adjust as needed */
}
